@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  /* Thay màu nền xám bằng Gradient đẹp hơn */
  background-image: linear-gradient(to bottom right, #ee9ca7, #ffdde1); 
  background-attachment: fixed;
  min-height: 100vh;
}